main {
  display: flex;
  width: 80%;
  height: 30%;
  margin-left: 0.5%;
}
main img {
  width: 11vw;
  height: 18vw;
}
main .content {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  color: white;
  justify-content: space-evenly;
}
main .content p,
main .content h2 {
  margin-bottom: 1%;
  margin-left: 2%;
}

.firstInfo {
  display: flex;
}
.plot {
  
}

/* footerContent */

.footerContent {
  display: flex;
}
