.Container
{
  display: flex;
  width: 95%;
  margin-top: 2%;
  
}
.MovieContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
}

.Movie {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 
}
.Movie img:hover {
  transition: transform 0.5s;
  transform: scale(1.1, 1.1);
}
.selectedMovie {
  transition: transform 0.5s;
  transform: scale(1.1, 1.1);
  border: 2px solid orange;
  box-shadow: 0px 0px 3px orange;
}
.img
{
  transition: transform 0.5s;
  transform: scale(1, 1);
  border: none;
  box-shadow: none; 
}

.Movie img {
  height: 150px;
  width: 100px;
  transition: transform 0.5s;
}

.Movie h3 {
  font-size: 0.7em;
  margin-top: 10%;
  width: 150px;
  color: white;
}
.Movie:hover h3 {
  transition: transform 0.5s;
  transform: scale(1.1, 1.1);
}
.goBack, .goFoward
{
  width:50px;
  height: 50px;
  align-self: center;
  margin: 1%;
}
.goBack
{
  transform:rotate(180deg)
}
